<app-titlebar titletext="Tagebuch">
  <ion-button (click)="handleClickAddEntry(); segment.value='all'" *ngIf="canAddEntry">
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>
  <ion-toolbar>
    <ion-segment value="all" color="light" #segment>
      <ion-segment-button value="all" layout="icon-start">
        <ion-icon name="book"></ion-icon>
        <ion-label>Einträge</ion-label>
      </ion-segment-button>
      <ion-segment-button value="stats" layout="icon-start">
        <ion-icon name="stats-chart"></ion-icon>
        <ion-label>Statistik</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</app-titlebar>

<ion-content>
  <ion-list *ngIf="segment.value === 'all'">
    <ion-item *ngFor="let entry of journalEntries" (click)="handleClickOnEntry(entry)">
      <ion-avatar slot="start">
        <app-indicator-emoticon [score]="entry.score" size="small"></app-indicator-emoticon>
      </ion-avatar>
      <ion-label>
        <h2>{{entry.date | date}}</h2>
        <p *ngIf="entry.text">{{entry.text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-chart [journalEntries]="journalEntries" title="Wohlbefinden in der letzten Woche" *ngIf="segment.value === 'stats'"></app-chart>

</ion-content>
