<app-titlebar titletext="Abspielen" [showMenuButton]="false">
  <ion-button (click)="dismissSelf()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</app-titlebar>

<ion-content fullscreen>
  <ion-card>
    <img src="https://ionicframework.com/docs/demos/api/card/madison.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Lektion: {{audio.lesson.name}}</ion-card-subtitle>
      <ion-card-title>{{audio.audioName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-fab-button color="primary" class="playbutton" (click)="pressPlay()">
        <ion-icon name="play" size="large"></ion-icon>
      </ion-fab-button>
      <ion-progress-bar value="0.5"></ion-progress-bar>
    </ion-card-content>
  </ion-card>
</ion-content>
