:root {
  ion-header {
  }

  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  ion-content {
    @media (prefers-color-scheme: light) {
      --background: var(--ion-color-light-tint);
    }

    .list-md {
      box-shadow: var(--md-shadow-1dp);
    }
  }

  .rounded-shadow-box {
    box-shadow: var(--ion-box-shadow-default);
    border-radius: 4px;
  }

  a {
    cursor: pointer;
  }
}
