<app-titlebar titletext="Login" [showMenuButton]="false"></app-titlebar>

<ion-content>
  <div *ngIf="hasLoginFailed" class="ion-margin ion-padding rounded-shadow-box login-failed-message"
       [innerHTML]="loginError.message"></div>

  <form (ngSubmit)="submitLoginForm()" [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Nutzername / E-Mail</ion-label>
      <ion-input formControlName="username" required type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Passwort</ion-label>
      <ion-input formControlName="password" required type="password"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button *ngIf="!isLoginInProgress" class="ion-no-margin" expand="block" type="submit">
        Einloggen
      </ion-button>
      <ion-button *ngIf="isLoginInProgress" class="ion-no-margin" disabled expand="block">
        <ion-spinner name="dots"></ion-spinner>
      </ion-button>
    </div>
  </form>

  <div class="footer ion-padding">
    <ion-text color="primary">
      <a (click)="openImprintModal()">Impressum</a>
    </ion-text>
  </div>
</ion-content>
