<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismissSelf()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Impressum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Verantwortlich für dieses Angebot...</p>
    <p>Expedita fuga minus veritatis eaque eos a et cum. Mollitia rerum maiores ut nulla. Incidunt eveniet voluptatem
      qui
      consequatur repellat aut expedita. Hic aut quia animi eum dolor reprehenderit esse ad. Ducimus voluptatem modi
      dolores ut autem. Qui molestiae nam vitae dolor.</p>
    <p>Eaque fugit mollitia sint dolores aut perspiciatis impedit. Dolor et provident commodi quidem qui deleniti nam
      et.
      Sint laboriosam et doloremque dolorum sit esse sed. Aut omnis dicta dolores aspernatur quia eaque. Laboriosam
      autem
      non sunt sint cupiditate cupiditate aut. Totam consequatur voluptas minus sit explicabo sint voluptas impedit.</p>
  </div>
</ion-content>
