.v-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-buttons {
  /*--box-shadow: none; mit oder ohne...*/
  margin: 1em auto;
}

.inline-button {
  display: inline-block;
}

ion-progress-bar {
  border-radius: 4px;
  height: 12px;
}
