<app-titlebar titletext="Abspielen" [showMenuButton]="false">
  <ion-button (click)="dismissSelf()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</app-titlebar>

<ion-content fullscreen>
  <ion-card>
    <ion-img [src]="image"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{trainingName}}</ion-card-subtitle>
      <ion-card-title>{{audio.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-fab-button color="primary" class="playbutton" (click)="handlePressPlayPauseControl()">
        <ion-icon *ngIf="isCurrentlyPlaying" name="pause" size="large"></ion-icon>
        <ion-icon *ngIf="!isCurrentlyPlaying" name="play" size="large"></ion-icon>
      </ion-fab-button>
      <ion-progress-bar value="0" #progressBar></ion-progress-bar>
    </ion-card-content>
  </ion-card>
  <audio #audioElement (timeupdate)="progressBar.value = audioElement.currentTime / audioElement.duration">
    <source [src]="audio.location">
  </audio>
</ion-content>
