.tile-selected {
  --background: var(--ion-color-light);
  box-shadow: var(--md-shadow-12dp);

  ion-img::after {
    display: inline-block;
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
    padding: 10px;
    border-bottom-right-radius: 4px;
    position: absolute;
    top: 0;
    content: "ausgewählt";
  }
}
