<app-titlebar titletext="Neuer Eintrag" [showBackButton]="false">
  <ion-button (click)="dismissSelf()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</app-titlebar>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Wie wohl haben Sie sich heute alles in allem gefühlt?</ion-card-title>
    </ion-card-header>
    <div class="ion-text-center">
      <app-indicator-emoticon [score]="scaleWohlfuehlen" size="small"></app-indicator-emoticon>
      <app-indicator-text [score]="scaleWohlfuehlen" type="wohlfuehlen"></app-indicator-text>
      <ion-range min="1" max="5" step="1" pin snaps color="primary"
                 (ionChange)="scaleWohlfuehlen = $event.target.value">
        <label slot="start">1</label>
        <label slot="end">5</label>
      </ion-range>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Wie wohlwollend sind Sie heute mit sich umgegangen?</ion-card-title>
    </ion-card-header>
    <div class="ion-text-center">
      <app-indicator-emoticon [score]="scaleWohlwollen" size="small"></app-indicator-emoticon>
      <app-indicator-text [score]="scaleWohlwollen" type="wohlwollen"></app-indicator-text>
      <ion-range min="1" max="5" step="1" pin snaps color="primary"
                 (ionChange)="scaleWohlwollen = $event.target.value">
        <label slot="start">1</label>
        <label slot="end">5</label>
      </ion-range>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Wie achtsam waren Sie heute?</ion-card-title>
    </ion-card-header>
    <div class="ion-text-center">
      <app-indicator-emoticon [score]="scaleAchtsamkeit" size="small"></app-indicator-emoticon>
      <app-indicator-text [score]="scaleAchtsamkeit" type="achtsamkeit"></app-indicator-text>
      <ion-range min="1" max="5" step="1" pin snaps color="primary" (ionChange)="scaleAchtsamkeit = $event.target.value">
        <label slot="start">1</label>
        <label slot="end">5</label>
      </ion-range>
    </div>
  </ion-card>

  <div class="ion-padding free-input-wrap">
    <form>
      <ion-label>Freitexteingabe:</ion-label>
      <ion-textarea
        placeholder="..."
        spellcheck
        rows="4"
        wrap="soft"
        inputmode="text"
        (ionChange)="handleTextareaChange($event)"
      >
      </ion-textarea>
    </form>
  </div>

  <div class="ion-padding">
    <ion-button *ngIf="hasEnteredScores()" expand="block" (click)="handleClickSave()">Speichern</ion-button>
    <ion-button *ngIf="!hasEnteredScores()" disabled expand="block">Speichern</ion-button>
  </div>
</ion-content>
